/********************************* watable *********************************/
/********************************* watable *********************************/
/********************************* watable *********************************/

/************* barra di navigazione pagine *******************************/
div.watable_navbar
{
	margin-top: 2rem;
	margin-right: -1rem;
	margin-left: -1rem;
	text-align: center;
}

div.watable_navbar button
{
	width: 15rem;
}

/*****************************************************/
/******** elementi tabella vera e propria ************/
/*****************************************************/

/************* tabella *******************************/
form.watable table
{
}

/************* riga normale ********************/
form.watable table tr
{
}

/************* riga selezionata ****************/
form.watable table tr.selected
{
    /*background-color: #808080;*/
	/*color: #ffffff*/
}

/************* riga evidenziata ****************/
form.watable table tbody tr:hover
{
}


/************* cella intestazione **************/
form.watable table th
{
    background-color: #f0f0f0;
}

form.watable table th a,
form.watable table th a:active , 
form.watable table th a:visited , 
form.watable table th a:link , 
form.watable table th a:hover 
{
}

/************* cella standard *****************/
form.watable table td
{
}

form.watable table td a,
form.watable table td a:active , 
form.watable table td a a:visited , 
form.watable table td a:link , 
form.watable table td a:hover 
{
}

/********************************/
/******** bottoniera ************/
/********************************/
form.watable
{
    vertical-align: middle;
	margin: 0px;
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
}

/******** bottoni bottoniera (solo testo) ************/
form.watable button
{
    min-width: 8rem;
}

/******** bottoni bottoniera disabilitati (solo testo) ************/
form.watable button.disabled
{
}

/******** ricerca rapida ***********/
form.watable div.watable_quick_search
{
	margin-top: .5rem;
}

/******** label ricerca rapida ***********/
form.watable span
{
    color: #000000;
}

/******** input text ricerca rapida ***********/
form.watable input
{
}

/****************************************************/
/******** modulo di ordinamento e filtro ************/
/****************************************************/
div.watable_order_filter_frame
	{
 	border: #000000 1px solid;
	color: #000000;
    background-color: #ffffff;
	padding: 3rem;
	width: 50%; 
	height: auto; 
	position: absolute; 
	left: 25%;
	z-index: 1000;    
	}

div.watable_order_filter_frame p
	{	
    text-align: center;
    font-weight: bold;
	}
	
div.watable_sortfilter_header
	{	
	margin-top: 3rem;
	}
	
div.watable_order_filter_frame input[type=submit],
div.watable_order_filter_frame input[type=button]
	{	
	width: 100px;
	}
	
