/************** waform ***************/
form.waform
	{
	padding: 3rem;
	}

/* bottoni*/
form.waform input[type=submit], 
form.waform input[type=button]
	{
	}

form.waform input[type=submit].disabled,
form.waform input[type=button].disabled
	{
	}

/* input vari */
form.waform input, 
form.waform select,
form.waform textarea
	{
	}

form.waform input.required,
form.waform select.required,
form.waform textarea.required
	{
	}

form.waform input.disabled, 
form.waform select.disabled,
form.waform textarea.disabled
	{
	}


/* etichette e cornici */
form.waform label 
	{
	color: #000000;
	}

form.waform label.required
	{
	color: #000090;
	}

form.waform label.disabled
	{
	color: #c0c0c0;
	}

/* cornici */
form.waform span
	{
    border: #000000 1px solid;
	}


/* giochino per quei browser che possono allargare i textarea: */
/* quando il controllo ha il focus può ricoprire tutti gli altri */
form.waform textarea:focus
	{
	z-index: 2;
	}

/* elemento arbitrario */
form.waform div.waform_notcontrol
	{
	overflow-y: scroll;
	border: #000000 1px solid;
	}

/* controllo complesso multiselect_checkbox */
form.waform div.waform_multiselect_checkbox
	{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 16rem;
	}

form.waform div.waform_multiselect_checkbox div
	{
	white-space: nowrap;
	padding: 0;
	}

form.waform div.waform_multiselect_checkbox div div
	{
	margin: 0px;
	margin-left: .3rem;
	white-space: nowrap;
	display: inline-block;
	width: 100%;
	}

form.waform div.waform_multiselect_checkbox div div label.disabled
	{
	width: 99%;
	background-color: #dddddd;
	color: #000000;
	}

form.waform div.waform_control_without_label
	{
	margin-bottom: 1rem;
	}

/*upload...*/
form.waform div.file-input div.file-initial-thumbs img,
form.waform div.file-input div.file-live-thumbs img
/*form.waform div.file-input div.file-initial-thumbs textarea,
form.waform div.file-input div.file-live-thumbs textarea,
form.waform div.file-input div.file-initial-thumbs .file-preview-frame,
form.waform div.file-input div.file-live-thumbs .file-preview-frame,
form.waform div.file-input div.file-initial-thumbs .file-preview-frame embed,
form.waform div.file-input div.file-live-thumbs .file-preview-frame embed*/
	{
		height: 60px !important;
	}

form.waform div.file-input div.file-preview
	{
		border: none;
		padding: 0;
		width: 1%;
	}

form.waform div.file-input div.file-preview div.fileinput-remove
	{
		display: none;
	}

form.waform div.file-input div.file-preview div.file-preview-thumbnails div.file-preview-frame
	{
		height: auto;
		margin: 0;
	}

form.waform div.file-input div.file-preview div.file-preview-thumbnails div.file-footer-caption
	{
		width: auto;
		margin: 0;
	}

form.waform div.file-input div.file-preview div.file-preview-thumbnails .file-actions
	{
		margin-top: 2px;
	}

form.waform div.file-input div.file-preview div.file-preview-thumbnails button.kv-file-remove
	{
		display: none;
	}

form.waform div.waframe
	{
	border: #000 1px solid;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
	border-radius: .5rem;
	}	
	
form.waform div.waframe div.waframe_label
	{
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-weight: bold;
	font-size: 1.6rem;
	}	

form.waform div.watab
	{
	margin-top: 3rem;
	margin-bottom: 3rem;
	}	
